.Card {
  position: relative;
  max-width: 430px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: -130px;
  padding: 25px 15px;
  overflow: hidden;
  z-index: 2;
  text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
  font-family: 'Source Code Pro', monospace;

  background-image: url('~assets/images/background.svg');
  background-position: center center;
  background-size: auto 100%;

  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  border-radius: 15px;
  transition: transform 1s ease;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 2, 29, 0.25);
    z-index: -1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 0px 10px;
    margin-bottom: 40px;
  }

  &__card-type {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*
  &:hover {
    transform: perspective(1000px) rotateY(180deg) rotateX(0deg)
      rotateZ(0deg);
  }*/
}
