.CardNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 27px;
  padding: 10px 15px;
  width: 100%;

  & span {
    &:nth-child(4n + 1) {
      margin-left: 2.2rem;
    }
    &:first-child {
      margin-left: 0px;
    }
  }
}

.NumberItem {
  display: inline-block;
  width: 16px;
}
