@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
body {
  background-color: #ddeefc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
  object-position: top right;
}
